/* 1119px - 1599px*/
@media screen and (max-width: 1599px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .main .header .container .menu {
    width: 600px;
  }

  .main .container .main-image-block {
    width: 50%;
    top: 100px;
    left: 50%;
  }

  .main .container .main-info {
    padding-left: 50px;
    max-width: 50%;

    .main-features {
      margin-top: 70px;
    }
  }
  .menu-restaurant{
    margin-top: 0;
  }
  .feedbacks .container .feedback-title{
    margin-top: 0;
  }
  .slick-initialized .slick-slide{
    display: grid;
  }
  .order{
    margin-top: 0;
  }
}


/* 1119px - 1229px*/
@media screen and (max-width: 1229px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .main .header .container .menu {
    width: 550px;
  }

  .main .container .main-image-block {
    width: 50%;
    top: 100px;
    left: 50%;
  }

  .main .container .main-info {
    padding-left: 50px;
    max-width: 50%;

    .main-features {
      margin-top: 70px;
    }
  }
  .feedbacks-carousel .slick-arrow.slick-next{
    right: 0;
  }

}


/* 1024px - 1119px*/
@media screen and (max-width: 1119px) {

  .main .header .container .menu {
    width: 550px;
  }

  .main .container .main-image-block {
    width: 50%;
    top: 100px;
    left: 50%;
  }

  .main .container .main-info {
    padding-left: 50px;
    max-width: 90%;

    .main-features {
      margin-top: 70px;
    }
  }
  .feedbacks .container .feedbacks-carousel{
    width: 83%;
  }
  .feedbacks-carousel .slick-arrow.slick-prev{
    left: -3%;
  }

}

/* 767px - 1024px*/
@media screen and (max-width: 1023px) {
  .main .header .container{
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .main .header .container .menu{
    margin-top: 15px;
    order: 0;
  }
  .main .header .container .map{
    display: none;
  }

  .main .container{
    flex-direction: column;
  }
  .main .container .main-info h1{
    text-align: center;
    font-size: 25px;
  }
  .main .container .main-image-block{
    width: 90%;
    position: static;
    order: 1;
  }
  .main .container .main-image-block .promotion{
  display: none;
  }
  .main .container .main-image-block .promotion-price{
    display: none;
  }
  .main .container .main-image-block .promotion-ex-price{
    display: none;
  }
  .main .container .main-info{;
    padding: 0;
    position: static;
    width: 90%;
    order: 0;
  }
  .main .container .main-info h1{
    margin-top: 40px;
    font-size: 50px;
  }
  .main .container .main-info .main-info-description{
    max-width: 100%;
    font-size: 17px;
    text-align: center;
    margin-right: 0;
  }
  .main .container .main-info .action{
    text-align: center;
  }
  .info-company .container .info-company-wrap .info-company-image{
    width: 600px;
  }
  .difference .container .difference-wrap{
    margin-top: 15px;
    width: 100%;
  }
  .difference .container .difference-wrap .difference-wrap-item .difference-image-center{
    width: 100%;
  }
  .feedbacks .container{
    flex-direction: column;
  }
  .feedbacks .container .feedbacks-carousel{
    width: 70%;
  }
  .feedbacks-carousel .slick-arrow.slick-prev{
    left: -7%;
  }
  .feedbacks-carousel .slick-arrow.slick-next{
    right: 0;
  }
  .feedbacks .container .feedbacks-carousel{
    width: 50%;
  }
  .order .container{
    flex-wrap: wrap;
  }
  .promo .container .promo-item-wrap{
    max-width: 100%;
  }
  .order .container .order-wrap .order-image{
    width: 40%;
  }
  .order-title{
    margin-bottom: 30px;
  }
  .order .container .order-image-last{
    display: none;
  }
  .feedbacks-carousel .slick-arrow.slick-next{
    right: 2%;
  }
  .menu-restaurant .carousel .slick-arrow{
    top: 35%;
  }
  .order{
    margin-top: 0;
  }

}

/* 424px - 767px*/
@media screen and (max-width: 734px) {
  .main .header .container .menu{

    display: none;
    justify-content: center;
    align-self: flex-start;
    position: fixed;
    height: 100%;
    width: 100%;
    margin: 0;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.65);
    z-index: 100;
  }
  .main .header .container .menu ul{
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    gap: 10px;
    text-align: center;
    flex-direction: column;
    align-self: center;
    justify-content: center;
  }
  .main .header .container .burger-menu{
    display: block;
  }
  .main .header .container .close{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 24px;
    height: 24px;
    display: block;
    fill: white;
  }
  .main .header .container .map{
    display: none;
  }
  .main .container .main-info h1{
    text-align: center;
    font-size: 25px;
  }
  .main .container .main-info .main-info-description{
    font-size: 17px;
    text-align: center;
    margin-right: 0;
    width: 100%;
  }
  .main .container .main-info .main-features{
    flex-direction: column;
  }
  .info-company .container .info-company-wrap .info-company-image{
    margin-top: 30px;
    width: 90%;
  }
  .main .container .main-image-block{
    top: 0;
    left: 0;
    position: relative;
    width: 100%;
  }
  .main .container .main-image-block .promotion{
    display: block;
    top: 30px;
    right: 100px;
  }
  .main .container .main-image-block .promotion-price{
    display: block;
    height: 30px;
    bottom: -200px;
    right: 30px;
  }
  .main .container .main-image-block .promotion-ex-price{
    display: block;
    bottom: 0;
    right: 30px;
  }
  .main .container .main-image-block .burger-banner{
    justify-content: center;
    text-align: center;
    width: 80%;
    top: 410px;
    left: calc(95% - 80%);
  }
  .main .container .main-image-block .burger-banner .burger-name{
    margin-left: 20px;
  }
  .difference .container .difference-title{
    justify-content: center;
    gap: 0;
  }
  .difference .container .difference-title .title-image{
    margin-right: 25px;
  }
  .main .container .main-info .main-features{
    justify-content: flex-start;
    gap: 30px;
  }
  .difference .container .difference-wrap{
    margin-top: 50px;
    width: 90%;
    flex-direction: column;
  }
  .difference .container .difference-wrap .difference-wrap-item {
    font-size: 12px;
    flex-direction: row;
    order: 0;
  }
  .difference .container .difference-wrap .difference-wrap-item .difference-image-center{
    width: 300px;
  }
  .menu-restaurant .container h2{
    margin-top: 0;
  }
  .menu-restaurant .container .carousel .carousel-item .carousel-item-title{
   text-align: -webkit-center;
  }
  .menu-restaurant .carousel .slick-arrow.slick-prev{
    left: 35%;
  }
  .menu-restaurant .carousel .slick-arrow.slick-next{
    right: 40%;
  }
  .menu-restaurant .carousel .slick-arrow{
    top: 200%;
  }
  .feedbacks .container .feedback-title{
    margin-top: 305px;
  }
  .feedbacks .container{
    flex-direction: column;
  }
  .feedbacks .container .feedbacks-carousel{
    width: 70%;
  }
  .feedbacks-carousel .slick-arrow.slick-prev{
    left: -7%;
  }
  .feedbacks-carousel .slick-arrow.slick-next{
    right: 0;
  }
  .feedbacks .container .feedbacks-carousel{
    width: 50%;
  }

  .promo .container .promo-item-wrap{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
  .promo .container .promo-item-wrap .item-1{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .promo .container .promo-item-wrap .item-2{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .promo .container .promo-item-wrap .item-3{
    display: none;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .promo .container .promo-item-wrap .sss1{
    width: 100%;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
  }
  .promo .container .promo-item-wrap .item-4{

    display: none;
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .promo .container .promo-item-wrap .sss2{
    width: 100%;
    display: flex;
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .order .container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .order .container .order-wrap{
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .order .container .order-wrap .order-image{
    width: 100%;
  }
  .footer .container{
    flex-direction: column;
  }
  .footer .container .footer-image{
    order: -1;
    margin-bottom: 40px;
  }
  .footer .container .footer-media{
    order: 0;
    margin-bottom: 40px;
  }
  .footer .container .footer-address{
    order: 2;
  }

}
@media screen and (max-width: 630px) {
  .menu-restaurant .carousel .slick-arrow{
    top: 185%;
  }
}

/* 374px - 424px*/
@media screen and (max-width: 424px) {

  .menu-restaurant .container .menu-icons-wrap{
    width: 100%;
  }
  .order .container .order-wrap{
    align-self: flex-start;
  }
  .difference .container .difference-title .title{
    font-size: 25px;
  }
  .difference .container .difference-title .title-image{
    margin-right: 0;
  }
  .main .container .main-image-block .promotion{
    right: 35px;
    top: 40px;
  }
  .main .container .main-image-block .burger-banner{
    top: 350px;
  }
  .info-company .container .info-company-wrap h2{
    margin-top: 30px;
    font-size: 25px;
  }
  .menu-restaurant{
    margin-top: -170px;
  }
  .menu-restaurant .container h2{
    font-size: 25px;
  }
  .menu-restaurant .carousel .slick-arrow.slick-prev{
    left: 30%;
  }
  .menu-restaurant .carousel .slick-arrow.slick-next{
    right: 35%;
  }
  .menu-restaurant .carousel .slick-arrow{
    top: 175%;
  }

  .feedbacks .container .feedback-title h2{
    margin-top: 0;
    font-size: 25px;
  }
  .feedbacks .container .feedbacks-carousel{
    width: 75%;
  }
  .promo .container .promo-title{
    font-size: 25px;
  }
  .order .container .order-title{
    font-size: 25px;
  }
  .order .container .order-wrap .order-image{
    width: 100%;
  }
  .order .container .order-wrap .order-form .policy{
    margin-top: 30px;
    text-align: center;
  }
  .order .container .order-wrap .order-form{
    display: grid;
    justify-self: center;
    flex-wrap: wrap;
  }
  .order .container .order-wrap .order-form .time{
    margin-left: 45px;
  }
  .order .container .order-wrap .order-form .order-form-description{
    text-align: center;
  }
  .order .container .order-wrap .order-form .order-count-down{
    text-align: center;
    justify-self: center;
  }
  .feedbacks .container .feedbacks-carousel{
    width: 90%;
  }
  .feedbacks-carousel .slick-arrow{
    top: 102%;
  }
  .feedbacks-carousel .slick-arrow.slick-prev{
    left: 30%;
  }
  .feedbacks-carousel .slick-arrow.slick-next{
    right: 35%;
  }
}

/* 320px - 374px*/
@media screen and (max-width: 374px) {
  .main .container .main-info .action .button{
    font-size: 13px;
  }
  .main .container .main-info .main-features{
    font-size: 12px;
  }
  .main .container .main-image-block .burger-banner .burger-name{
    font-size: 20px;
    margin-left: 32px;
  }
  .main .container .main-image-block .burger-banner .burger-description{
    left: -10px;
  }
  .main .container .main-image-block .burger-banner{
    left: 30px;
  }
  .info-company .container .info-company-wrap h2{
    margin-top: 70px;
  }
  .menu-restaurant .carousel .slick-arrow.slick-prev{
    left: 30%;
  }
  .menu-restaurant .carousel .slick-arrow.slick-next{
    right: 35%;
  }
  .menu-restaurant .carousel .slick-arrow{
    top: 175%;
  }
  .feedbacks-carousel .slick-arrow{
    top: 100%;
  }
  .feedbacks-carousel .slick-arrow.slick-prev{
    left: 30%;
  }
  .feedbacks-carousel .slick-arrow.slick-next{
    right: 35%;
  }

  .order .container .order-wrap .order-form .order-btn{
    width: 253px;
    font-size: 13px;
  }
}
